{% extends "base.html" %}

{% block main %}
<h1 style="display: inline;">Posts</h1>
<button type="submit" class="btn btn-default" style="float: right;" id="toggle_search"><span class="glyphicon glyphicon-search"></span></button>
<div class="well well-sm hidden" id="search_form">
  <form class="form-inline" role="form" id="range_form">
    <div class="form-group">
      <label for="from">From:</label>
      <input type="number" class="form-control input-sm" id="from" style="width: 7em;">
    </div>
    <div class="form-group">
      <label for="to">To:</label>
      <input type="number" class="form-control input-sm" id="to" style="width: 7em;">
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </form>
</div>
<div id="posts">
</div>
<button type="button" id="loadmore" class="btn btn-block" style="margin-bottom: 10px">Load more</button>
{% end %}

{% block scripts %}
<script src="{{ static_url("js/posts.js") }}"></script>
{% end %}
